services:
  mc:
    image: itzg/minecraft-server:latest
    pull_policy: daily
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
      MODPACK: "https://github.com/Marley-Mulvin-Broome/all-of-create-docker/releases/download/1.0.0/mods.zip"
      VERSION: "1.20.1"
      CF_API_KEY: ${CF_API_KEY}
      CF_SLUG: aoc
      MODPACK_PLATFORM: AUTO_CURSEFORGE

    volumes:
      # attach the relative directory 'data' to the container's /data path
      - ./data:/data